---
---
<!DOCTYPE html>
<html lang="en-US">
<title>Search / yEAh Network</title>

{% include head.html %}
{% include top.html %}

<style>
    .popup {
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        display: none;
    }

    .popup a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .popup a:hover {
        background-color: #f1f1f1;
    }
</style>

<div class="site-content">
    <div class="atbs-block atbs-block--fullwidth atbs-section-module-404">
        <div class="atbs-block__inner text-center">
            <br>
            <br>
            <br>
            <h5 style="font-size:55px!important;" class="page-404-heading-number"><a
                    href="https://www.yeahgames.net"><img
                        src="https://cdn.yeahgames.net/img/branding/logos/text/red.png" width="275px"></a></h5><br>
            <h4 style="font-size:28px" class="page-404-heading-title f-46 f-w-700"><a
                    href="https://search.yeahgames.net" style="text-decoration: none;">NETWORK SEARCH</a></h4>
            <p class="page-404-description f-18 f-w-400">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</a></p>

            <form class="search-form" method="get" action="#">
                <div class="search-form__input-wrap">
                    <input type="text" id="searchTerm" name="s" class="search-form__input"
                        onkeypress="handleKeyPress(event)" placeholder="Search..." value="">
                </div>
                <div class="search-form__submit-wrap">
                    <button type="submit" style="background-color:#ff4747" class="search-form__submit btn btn-primary"
                        onclick="search()">Search</button>&#160;&#160;<button title="How would you like to search?" onclick="togglePopup()"
                        style="background-color:#ff4747" class="search-form__submit btn btn-primary"><i
                            class="fa-solid fa-caret-down"></i></button>
                    <br>
                </div>
            </form>

            <div id="myPopup" class="popup">
                <a href="#"><i class="fa-brands fa-google"></i>&#160;yEAh GCSE</a>
                <a href="#"><i class="fa-solid fa-y"></i>&#160;yEAh CESE</a>
                <a href="#"><i class="fa-brands fa-github"></i>&#160;GitHub CS</a>
            </div>

            <br>
            <p style="margin: auto; width:100%!important">Powered by:&#160; <a
                    title="yEAh custom-engineered search engine (CESE): Aggregate results from our engine, Google CSE, and GitHub to find what you need."
                    href="https://search.yeahgames.net" style="text-decoration:none;"><i
                        class="fa-solid fa-y"></i>&#160;yEAh Search</a></p>
        </div>
    </div>
</div>
</div><!-- .site-content -->

<script>
    function search() {
        const searchTerm = document.getElementById("searchTerm").value;
        const url = `/search/cse/results#gsc.q=${searchTerm}`;
        window.parent.location = url;
    }

    function handleKeyPress(event) {
        if (event.keyCode === 13) {

            event.preventDefault();
            search();
        }
    }
</script>

<script>
    function togglePopup() {
        var popup = document.getElementById("myPopup");
        if (popup.style.display === "block") {
            popup.style.display = "none";
        } else {
            popup.style.display = "block";
            popup.style.top = (event.clientY + window.scrollY) + "px";
            popup.style.left = event.clientX + "px";
        }
    }
</script>

{% include bottom.html %}